/* XL */

@media(max-width:1399px){
    .container{
        max-width: 1140px;
    }
}

/* LG */

@media(max-width:1199px){
    .container{
        max-width: 960px;
    }
    .h_blog_content h5{
        font-size: 18px;
        line-height: 25px;
    }
    .blog_contents h2{
        font-size: 30px;
    }
    .blog_contents p:first-of-type{
        font-size: 16px;
    }
    .blog_contents p{
        font-size: 13px;
    }
    .blogs_content img{
        width: 65px;
        height: 65px;
    }
}

/* MD */

@media(max-width:991px){
    .container{
        max-width: 720px;
    }
    .md_w_1{
        width: 100%;
    }
    .md_w_2{
        width: 50%;
    }
    .blog_items::after{
        display: none;
    }
    .blog_items{
        padding: 40px 0;
    }
    .blogs_img img{
        height: auto;
    }
    .blogs_item{
        padding-top: 10px;
    }
    .blogs_content, .blogs_icon{
        background-color: #f4deff12;
        margin-left: 0;
    }
    .blogs_content ul{
        border-bottom: 1px solid #e2e2e269;
    }
    .blog_items .row .w_40{
        order: 3;
    }
}

/* SM*/

@media(max-width:767px){
    .container{
        max-width: 540px;
    }
    .sm_w_1{
        width: 100%;
    }
    .blog_contents h2{
        font-size: 25px;
        line-height: 30px;
    }
    .blog_contents p{
        padding-bottom: 6px;
    }
}

/* XS */

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    .divider_1{
        width: 75px;
    }
    .h_blog_content li:first-child p{
        font-size: 10px;
    }
    .h_blog_content li a{
        font-size: 11px;
    }
    .h_blog_content h5{
        font-size: 12px;
        line-height: 20px;
    }
}