/* XL */

@media(max-width:1399px){
    .container{
        max-width: 1140px;
    }
    .h_bnr_content h1 {
        font-size: 45px;
    }
    .h_contact_form {
        top: 7px;
    }
}

/* LG */

@media(max-width:1199px){
    .container{
        max-width: 960px;
    }
    .lg_w_1{
        width: 100%;
    }
    .lg_w_4{
        width: 25%;
    }
    nav ul li a{
        font-size: 13px;
    }
    .h_bnr_content h1{
        font-size: 40px;
    }
    .h_bnr_content p{
        padding-right: 45px;
    }
    .h_about_content{
        padding-left: 0;
    }
    .h_rooms{
        padding: 0;
    }
    .h_room_content{
        padding-top: 50px;
    }
    .h_room_content h2{
        font-size: 25px;
    }
    .h_blog_content h5{
        font-size: 18px;
        line-height: 25px;
    }
    .h_help_item{
        padding-right: 20px;
    }
    .h_contact_us .w_40{
        order: 2;
    }
    .h_contact_us .w_60{
        order: 1;
    }
    .h_contact_form{
        position: static;
        width: 100%;
        margin-top: 20px;
        order: 2;
    }
    .h_contact_title_1{
        display: block;
        margin-bottom: 10px;
    }
    .h_contact_title_2{
        display: none;
    }
    footer .row .w_5:nth-child(2){
        padding-left: 50px;
    }
    .prev_btn , .next_btn{
        display: block;
    }
}

/* MD */

@media(max-width:991px){
    .container{
        max-width: 720px;
    }
    .md_w_1{
        width: 100%;
    }
    .md_w_2{
        width: 50%;
    }
    header{
        border-bottom: none;
    }
    header nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background-color: var(--theme_green);
        z-index: 99;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav li{
        margin: 8px;
        padding: 0 15px;
    }
    .hdr_btn{
        display: none;
    }
    .toggle_menu {
        display: block;
        margin-right: 15px;
    }
    .h_banner .row .w_2:first-child{
        order: 2;
    }
    .h_banner .row .w_2:last-child{
        order: 1;
    }
    .h_bnr_img::after{
        width: 101%;
        border-right: 2px solid var(--theme_white);
    }
    .h_banner{
        padding: 0;
    }
    .h_bnr_img img:last-child{
        left: 0;
    }
    .h_bnr_content a + p , .h_bnr_content img{
        display: none;
    }
    .h_bnr_btn{
        margin: 10px 0;
    }
    .h_about::after{
        display: none;
    }
    .h_about_content{
        padding: 10px 0;
    }
    .h_about_content p{
        width: auto;
    }
    .h_room_content img{
        width: 60px;
    }
    .h_room_content h2{
        font-size: 15px;
    }
    .h_room_btn{
        font-size: 10px;
        padding: 5px 15px;
    }
    .h_gallery .row .w_3:nth-child(3){
        order: 4;    
    }
    .h_gallery .row .w_3:nth-child(6){
        order: 5;    
    }
    .h_help{
        padding: 0;
    }
    .h_help_bg_1, .h_help_bg_2{
        display: none;
    }
    .h_help_img , .h_help_item{
        margin: 0 auto 10px auto;

    }
    .h_help_img img , .h_help_item{
        border-radius: 10px;
    }
    .h_help_content{
        padding: 10px;
    }
    .h_help_content::after{
        top: 0;
        left: 0;
        padding: 0;
        border-left: 2px solid var(--theme_white);
    }
    .h_help_img , .h_help_item{
        width: 100%;
    }
    .h_help_item{
        padding: 10px;
        height: auto;
    }
    
}

/* SM */

@media(max-width:767px){
    .container{
        max-width: 540px;
    }
    .sm_w_1{
        width: 100%;
    }
    .sm_w_2{
        width: 50%;
    }
    .h_about{
        padding: 40px 0 0 0;
    }
    .h_amenities_title p, .h_room_title p, .h_blog_title p, .h_gallery_title p, .amenitie_title p, .h_help_title p{
        width: 500px;
    }
    .h_room_content{
        padding-top: 80px;
    }
    footer .row .w_5:nth-child(2){
        padding: 0;
    }
}

/* XS */

@media(max-width:575px){
    .container{
        max-width: 100%;
    }
    .xs_w_1{
        width: 100%;
    }
    .h_bnr_img img:last-child{
        width: 200px;
    }
    .h_bnr_content h1{
        font-size: auto;
    }
    .h_bnr_content p{
        width: auto;
        padding: 0;
    }
    .h_amenities_title h2, .h_room_title h2, .h_blog_title h2, .h_gallery_title h2, .amenitie_title h2, .h_help_title h2{
        text-align: left;
        padding: 0 15px;
        font-size: 20px;
    }
    .divider_2{
        margin: 5px auto 5px 15px;
    }
    .divider_2::after{
        right: 0;
    }
    .h_amenities_title p, .h_room_title p, .h_blog_title p, .h_gallery_title p, .amenitie_title p, .h_help_title p{
        text-align: left;
        padding:0 15px;
        width: 100%;
        font-size: 13px;
    }
    .h_room_content{
        padding-top:40px;
    }
    .h_gallery .row .w_3:nth-child(4){
        order: 3;    
    }
    .h_gallery .row .w_3:nth-child(5){
        order: 6;    
    }
    .h_footer_item img{
        width: auto;
        margin:  0 auto;
    }
    .w_30 .h_footer_item ul{
        justify-content: center;
    }
    footer .w_5{
        margin: 15px 0;
    }
    .h_footer_item p{
        margin: 5px 0;
        text-align: center;
    }
    .h_footer_item h5{
        text-align: center;
    }
}